#rectangle {
    width: 80vw;
    height: 40vh;
    background-color: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2vh;
  }
  
  #circle {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: moveCircle 4s infinite;
  }
  
  @keyframes moveCircle {
    25% {background-color: blue; top: 0; left: calc(100% - 50px);}
    50% {background-color: red;top: calc(100% - 50px); left: calc(100% - 50px);}
    75% {background-color: yellow;top: calc(100% - 50px); left: 0;}
    100% {background-color: green;top: 0; left: 0;}
  }
  